p{
    margin-left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: yellow;
    font-size: 50px;
}
*{
     background-color: rgb(173, 3, 3);
}

button{
    background-color: yellow;
    padding: 10px;
    margin-left: 38%;
    border-radius: 20px;
    border-color: aliceblue;
    width: 20%;
    height: 15vh;
    font-size: 30px;
    opacity: 0.8;
    cursor: pointer;
}
button:hover{
    background: #b38300;
    transform:translateY(-2px);
    transition: all 0.3s;
}

