*{
    background-color: rgb(173, 3, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.question{
    background-color: yellow;
    margin-left: 20%; margin-right: 20%;
    border: 1px solid black; border-radius: 10px;
    padding: 10px;
    font-size: 25px;
}
header{
    font-size: 40px; margin-left: 38%; margin-right: 30%;
    color: yellow;
}
p{
    background-color: yellow;
    margin-left: 10%;
}
button{
    padding: 10px;
    border: 1 px solid black; border-radius: 10px;
    background-color: white;
    width: 30%;
    cursor: pointer;
}
.answer12{
    margin-left: 28%;
}
.answer34{
     margin-left: 28%;
}

.footer{
    margin-left: 45%;
}
.next{
    width: 17%;
    opacity: 0.7;
    cursor: pointer;
}
.next:hover{
    background: #b38300;
    transform:translateY(-2px);
    transition: all 0.3s;
}